.header-img {
  height: 32px;
  width: 90px;
  margin-right: 15px;
}
.submenu:hover {
  font-size: 17px;
  /* font-weight: bold !important; */
}
@media screen and (min-width: 992px) {
  .header {
    padding: 0 20% 0 17%;
    height: 70px;
    background-color: #2d2f33;
    display: flex;
    align-items: center;
  }
  .header .header-text {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 30px 0 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  .header .header-menu {
    width: 70%;
  }
  .header-menu-mobile-btn {
    display: none;
  }
  .header .header-menu ul {
    width: 100% !important;
  }
  .home-content {
    display: flex;
    flex-direction: row;
  }
  .home-content-main {
    flex-grow: 1;
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 0 200px 0 200px;
    background-image: url('https://bbs.mihoyo.com/_nuxt/img/background.cd0a312.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f1f0f5;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 0 2% 0 5%;
    height: 70px;
    background-color: #2d2f33;
    display: flex;
    align-items: center;
  }
  .header-menu-mobile-btn {
    color: #fff;
    position: absolute;
    right: 2.5rem;
  }
  .header .header-text {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 0 1rem 0 1rem;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }
  .header .header-menu,
  .header-user {
    display: none;
  }
  .header-menu-mobile {
    position: absolute;
    background-color: #535558 !important;
    height: 0;
    right: 0;
    z-index: 999;
  }
  .header .header-menu ul,
  .header-menu-mobile ul {
    background-color: #2d2f33 !important;
    width: 100% !important;
  }
  .home-content {
    display: flex;
    flex-direction: row;
  }
  .home-content-main {
    flex-grow: 1;
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 0 2% 0 2%;
    background-image: url('https://bbs.mihoyo.com/_nuxt/img/background.cd0a312.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f1f0f5;
  }
}
.header-menu-mobile {
  display: none;
}
