.picture-show {
  background-color: #f0f1f5;
}
.loading{
  width: 100%;
  font-size: 30px;
  padding: 30px 0 30px 0;
}
.article-temp-box {
  align-self: center;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;
}
.article-temp-box .article-temp-img {
  border-radius: 5% 5% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}
.article-title {
  padding: 5px 20px 5px 20px;
}
.article-user-name {
  padding: 5px 0 5px 20px;
}
.article-title .article-title-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.article-icon-top {
  float: right;
  margin-right: 10px;
  border: 1px solid #cc0000;
  border-radius: 5px;
  color: #cc0000;
  padding: 0 5px 0 5px;
}
.article-show-tab {
  display: flex;
  justify-content: center;
}
.article-show-tab img {
  width: 90%;
}
.ant-modal-header {
  display: flex;
  justify-content: space-around;
}
.ant-modal-footer {
  padding: 10px 20px 10px 20px !important;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  .pic-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0 20px;
  }
  .article-temp {
    width: 20%;
    margin: 0 2.5% 20px 2.5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
  }
}
@media screen and (max-width: 992px) {
  .pic-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
  }
  .article-temp {
    width: 40%;
    margin: 0 5% 20px 5%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
  }
}
