.waterfall {
  background-color: #f0f1f5;
}

.water-article-temp {
  width: 100%;
  margin: 0 2.5% 20px 2.5%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.water-box {
  align-self: center;
  width: 100%;
  cursor: pointer;
}
.water-box .water-article-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}
.article-showPicTab {
  display: flex;
  justify-content: center;
}
.article-showPicTab img {
  width: 90%;
}
.ant-modal-header {
  display: flex;
  justify-content: space-around;
}
.ant-modal-footer {
  padding: 10px !important;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 992px) {
  .waterline {
    width: 25%;
    padding: 0 10px 0 10px;
    display: block;
  }
  .waterlist {
    display: flex;
    padding: 20px 20px 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .waterline {
    width: 50%;
    padding: 0 10px 0 10px;
    display: block;
  }
  .waterlist {
    display: flex;
    padding: 20px 0 0 0;
  }
}
